<!DOCTYPE html>
<html lang="en" ng-App="myApp">
<head>
	<title>Register</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="Eagle.png" type="image/png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="static/js/angularMain.js"></script>
	<script src="static/js/angularController.js"></script>
	<script src="static/js/angularFactories.js"></script>
</head>

<body ng-cloak ng-controller="usersController as UC">
<div class="container">	
	<div class="panel panel-default" style="margin-top:1%">
			<div class="panel-heading" style="background-color:#24292E">
				<h3 class="panel-title" align="center" style="color:white"><b>Register<b></h3>
			</div>
		<div class="panel-body">
			<div class="col-md-12 col-xs-12">
				<p align="left"><b>Input details to create account:</b></p>
				<p align="left"><b>* Required Field </br><span style="color:red">* Case sensitive </span></b></p>
			</div>	
			<form ng-submit="UC.register()">

				<div ng-cloak class="alert alert-danger" ng-if="UC.validationErrors.firstname">
					<p ng-cloak>{{ UC.validationErrors.firstname.message }}</p>
				</div>
				<div ng-cloak class="alert alert-danger" ng-if="UC.validationErrors.lastname">
					<p ng-cloak>{{ UC.validationErrors.lastname.message }}</p>
				</div>
				<div class="col-md-12 col-xs-12">
				
				<div class="col-md-12 col-xs-12 form-group">
					<p align="left">First Name*</p>
					<input type="text" class="form-control" id="regFirstName" placeholder="First Name" ng-model="UC.regUser.firstname" required/>
				</div>
				
					<div class="col-md-12 col-xs-12 form-group">
						<p align="left">Last Name*</p>
						<input type="text" class="form-control" id="regLastName" placeholder="Last Name" ng-model="UC.regUser.lastname" required/>
					</div>

		
					<div class="col-md-12 col-xs-12 form-group">
						<label for="regUsername">Username* <span style="color:red">*</span></label>
						<input type="text" class="form-control" id="regUsername" placeholder="Username" ng-model="UC.regUser.username" required/>
					</div>
			

				<div ng-cloak class="alert alert-danger" ng-if="UC.validationErrors.username">
					<p ng-cloak>{{ UC.validationErrors.username.message }}</p>
				</div>
	
					<div class="col-md-12 col-xs-12 form-group">
						<label for="regEmail">Email Address* <span style="color:red">*</span></label>
						<input type="email" class="form-control" id="regEmail" placeholder="Email Address" ng-model="UC.regUser.email" required>
					</div>
			


					<div class="col-md-12 col-xs-12 form-group">
						<label for="regEmailConf">Confirm Email Address* <span style="color:red">*</span></label>
						<input type="email" class="form-control" id="regEmailConf" placeholder="Confirm Email Address" ng-model="UC.regUser.emailConf" required/>
					</div>
	

				<div ng-cloak class="alert alert-danger" ng-if="UC.validationErrors.email">
					<p ng-cloak>{{ UC.validationErrors.email.message }}</p>
				</div>
		
					<div class="col-md-12 col-xs-12 form-group">
						<label for="regPassword">Password* <span style="color:red">*</span></label>
						<input type="password" class="form-control" id="regPassword" placeholder="Password" ng-model="UC.regUser.password" required/>
					</div>

				

					<div class="col-md-12 col-xs-12 form-group">
						<label for="regPasswordConf">Confirm Password* <span style="color:red">*</span></label>
						<input type="password" class="form-control" id="regPasswordConf" placeholder="Confirm Password" ng-model="UC.regUser.passwordConf" required/>
					</div>
			
				<div ng-cloak class="alert alert-danger" ng-if="UC.validationErrors.password">
					<p ng-cloak>{{ UC.validationErrors.password.message }}</p>
				</div>
				
					<div class="col-md-12 col-xs-12 form-group">
						<label for="regdob">Date Of Birth*</label>
						<input type="date" class="form-control" id="regdob" placeholder="dd/mm/yyyy" ng-model="UC.regUser.dob" required/>
					</div>

			
				<div ng-cloak class="alert alert-danger" ng-if="UC.validationErrors.dob">
					<p ng-cloak>{{ UC.validationErrors.dob.message }}</p>
				</div>
		
					<div class="col-md-12 col-xs-12 form-group">
						<label for="regGender">Gender*</label>
						<select class="form-control" id="regGender" ng-model="UC.regUser.gender" required>
							<option value="" disabled selected hidden>Please Choose...</option>
							<option value="Female">Female</option>
							<option value="Male">Male</option>
							<option value="Other">Other</option>
						</select>
					</div>
		
				<div ng-cloak class="alert alert-danger" ng-if="UC.validationErrors.gender">
					<p ng-cloak>{{ UC.validationErrors.gender.message }}</p>
				</div>


			
					<div class="col-md-12 col-xs-12 form-group">
						<label for="regTeam">Favourite AFL Team*</label>
						<select class="form-control" id="regTeam" ng-model="UC.regUser.favouriteteam" required>
							<option value="" disabled selected hidden>Please Choose...</option>
							<!-- must replace from db with ng-repeat of some form-->
							<option value="Adelaide">Adelaide</option>
							<option value="Brisbane">Brisbane Lions</option>
							<option value="Carlton">Carlton</option>
							<option value="Collingwood">Collingwood</option>
							<option value="Essendon">Essendon</option>
							<option value="Fremantle">Fremantle</option>
							<option value="Geelong">Geelong</option>
							<option value="Gold Coast">Gold Coast Suns</option>
							<option value="Greater Western Sydney">GWS Giants</option>
							<option value="Hawthorn">Hawthorn</option>
							<option value="Melbourne">Melbourne</option>
							<option value="North Melbourne">North Melbourne</option>
							<option value="Port Adelaide">Port Adelaide</option>
							<option value="Richmond">Richmond</option>
							<option value="St Kilda">St.Kilda</option>
							<option value="Sydney">Sydney Swans</option>
							<option value="West Coast">West Coast Eagles</option>
							<option value="Western Bulldogs">Western Bulldogs</option>
						</select>
					</div>
				<div ng-cloak class="alert alert-danger" ng-if="UC.validationErrors.favouriteteam">
					<p ng-cloak>{{ UC.validationErrors.favouriteteam.message }}</p>
				</div>
					
					<label class="col-md-12 col-xs-12 form-check-label">
						<input name="agree" type="checkbox" class="form-check-input" required>
						I have read and agree to the terms and conditions
					</label>
					
				<div ng-cloak class="alert alert-danger" ng-if="UC.validationErrors.check">
					<p ng-cloak>{{ UC.validationErrors.check.message }}</p>
				</div>
				

				<div class="col-md-12 col-xs-12" style="padding:15px;">
					<input class="btn btn-primary" type="submit" value="Create Account">
				</div>
			</form>
			<div  style="padding:15px;">
				<a href="/login.html">Already have an account? Click here to login now</a>
			</div>
		</div>
		</div>
	</div>
</div>	
</div>
</body>
</html>
