<!--
Authors: Andrew Kuzminsky, Luke Lo Presti, Matthew Mandile
Version: v12
-->
<!DOCTYPE html>
<html ng-app="tippingApp" lang="en">
<head>
	<title>La Trobe Footy Tipping</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="Eagle.png" type="image/png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="style.css"> <!-- Stylesheet -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> <!-- JQuery -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- Bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> <!-- AngularJS -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> <!-- Bootstrap -->
	<script src="js/ladderScript.js"></script> <!-- ladderScript -->
	<script src="js/tippingScript.js"></script> <!-- tippingScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script> <!-- JQuery Scrolling -->
	<!-- TODO: EXPLAIN THIS-->
	<script>
	$(function() {
	    var $affixElement = $('div[data-spy="affix"]');
	    $affixElement.width($affixElement.parent().width());
	});
</script>
<!--Script to allow the popup hover function to work-->
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
<!--Script that allows the ladder sidebar to collapse-->
<script>
$('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
    $('.collapse').toggleClass('in').toggleClass('hidden-xs').toggleClass('visible-xs');
});
</script>
<!--Script to stick the ladder to the page as you scroll and toggle the sidebar-->
<script>
$(document).ready(function () {

    $('#sidebar').niceScroll({
        cursorcolor: '#9d9d9d', // Changing the scrollbar color
        cursorwidth: 4, // Changing the scrollbar width
        cursorborder: 'none', // Rempving the scrollbar border
    });

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

});
</script>
	<style>

	.affix {
		top: 10px;
	}

	.affix-bottom {
		position: absolute;
	}
	</style>
</head>
<!--Navbar-->
<nav align="center" class="navbar navbar-inverse" style="border-radius:0px;background-color:#24292E;">
	<div class="container-fluid">
		<div class="navbar-header">
			<!-- Hamburger button -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- Logo -->
			<a href="tipping.html"><img style="margin-left:0em;margin-top:10px;padding-bottom:5px" class="img-fluid" src="LTU-Footy.png" width="250px"></a>
		<!-- Responsive Navbar -->
		</div>
		<div ng-controller="userLogController" align="center" class="collapse navbar-collapse" id="navbar1">
			<ul align="center" class="nav navbar-nav">
				<li class="active"><a href="tipping.html">Tipping<span class="sr-only">(current)</span></a></li>
				<li ng-show="data.userGroup == 'admin'"><a padding="30px" href="users.html">View Users</a></li>
				<li><a href="ladder.html">Ladder</a></li>
				<li><a href="ranking.html">Ranking</a></li>
				<li ng-show="data.userGroup == 'admin'"><a href="email.html">Email</a></li>
				<li><a href="profile.html"><span class="glyphicon glyphicon-user"></span> {{data.username}}</a></li>
				<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
			</ul>
		</div>

	</div>
</nav>


<body ng-cloak>

<div class="wrapper">
<!--Ladder sidebar-->
<nav id="sidebar" class="hidden-xs hidden-sm hidden-md">
		<div class="row">
				<div align="center" style="margin-top:10px;" class="col-md-3 col-xs-4 hidden-xs hidden-sm hidden-md">
					<div data-spy="affix" data-offset-top="100" data-offset-bottom="140">
						<table ng-controller="ladderController" class="table table-bordered" style="background-color:white;">
							<thead>
								<tr align="center">
									<td valign="center"><b>Pos</b></td>
									<td colspan = 2 valign="center"><b>Team</b></td>
									<td valign="center"><b>P</b></td>
									<td valign="center"><b>W</b></td>
									<td valign="center"><b>D</b></td>
									<td valign="center"><b>L</b></td>
									<td valign="center"><b>Pts</b></td>
								</tr>
							</thead>
							<tbody align="center">
								<tr ng-repeat="t in teams | orderBy: 'position' " ng-style="t.isEliminated == false ? {'background-color':'green'}">
									<td valign="center"> {{ t.position }} </td>
									<td style="padding:0px" valign="center">
										<img ng-src="{{t.teamID}}.png" class="img-responsive" alt="{{ t.teamID }}" height="auto" style="max-width:65px">
									</td>
									<td valign="center">{{ t.teamID }}</td>
									<td valign="center"> {{ t.gamesPlayed }} </td>
									<td valign="center"> {{ t.gamesWon }} </td>
									<td ng-switch="t.gamesDrawn" valign="center">
										<span ng-switch-when="0"> - </span>
										<span ng-switch-default> {{ t.gamesDrawn }} </span>
									</td>
									<td valign="center"> {{ t.gamesLost }} </td>
									<td valign="center"> {{ t.points }} </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
	</nav>
	<!--End ladder sidebar-->
	<!--Start tipping boxes-->
<div align="center" class="container" style="background-color:#e6e4e2;">
				<!--Section for all information about the match-->
				<div ng-controller="tippingController"  class="col-md-12 col-xs-12 center-block" style="float:right">
				<div class="col-md-12">
					<div align="left" class="col-md-6" style="padding:10px">
						<button type="button" id="sidebarCollapse" class="btn btn-default navbar-btn hidden-xs hidden-sm hidden-md" >
							<i class="glyphicon glyphicon-align-left"></i>
								Toggle Ladder
						</button>

					</div>
					<div align="right" class="col-md-6" style="padding:20px">
						<a href="#"  data-toggle="popover" data-trigger="hover" data-placement="bottom"
						data-content="Choose which team you think will win each match by clicking on the circle below the team logo. Once all selections have been made, hit the submit button"
						class="navbar-btn hidden-xs hidden-sm hidden-md"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;Help</a>
					</div>
				</div>
					<form id="tip" method="POST" action="/userTips">
					<div ng-controller="userLogController" align="center">
						<input type="hidden" name="username" value="{{data.username}}"><h1 style="margin-left:25px"><b></b></h1></input>
						<input type="hidden" name="roundNo" value="{{roundNo}}"><h1 style="margin-left:25px"><b>Round {{roundNo}}</b></h1></input>
					</div>
					<!--Round changing desktop-->
						<ul class="pager hidden-xs">
							<li ng-class="roundNo == 1 ? 'previous disabled' : 'previous'"><a href="#" ng-click="roundNo != 1 ? roundNo = roundNo - 1 : roundNo = roundNo" >Previous Round</a></li>
							<li align="center">
								<!--Submit button-->
								<input type="submit" class="btn btn-primary btn-lg" style="padding-left:40px; padding-right:40px;margin-bottom:5px;
								box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   display:inline-block;
								margin:0;" value="Submit">
							</li>
							<li ng-class="roundNo == 23 ? 'next disabled' : 'next'"><a href="#" ng-click="roundNo != 23 ? roundNo = roundNo + 1 : roundNo = roundNo" ng-disabled"roundNo == 23">Next Round</a></li>
						</ul>

						<!--Round changing mobile-->
						<ul class="pager visible-xs">
							<li ng-class="roundNo == 1 ? 'previous disabled' : 'previous'"><a href="#" ng-click="roundNo != 1 ? roundNo = roundNo - 1 : roundNo = roundNo" >
								<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
							</a></li>
							<li align="center">
								<input type="submit" class="btn btn-primary btn-md" style="padding-left:40px; padding-right:40px;margin-bottom:5px;
								box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   display:inline-block;
								margin:0;" value="Submit">
							</li>
							<li ng-class="roundNo == 23 ? 'next disabled' : 'next'"><a href="#" ng-click="roundNo != 23 ? roundNo = roundNo + 1 : roundNo = roundNo" ng-disabled"roundNo == 23">
								<span class="glyphicon glyphicon-arrow-right" aria-hidden="true">
							</a></li>
						</ul>
					<div ng-repeat="m in matches" class="panel panel-default" align="center">
						<table  class="table table-bordered" style="background-color:white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
							<tr>
								<!--Left team info-->
								<td align="center" class="col-md-3 col-xs-3" id="{{ m.homeTeam }}"><br>
									<img ng-src="{{m.homeTeamID}}.png" class="img-responsive" alt="{{ m.homeTeamID }}" width="100" height="150">
									<p style="font-size:17px"><b>{{ m.homeTeamID }}</b></p>
									<span ng-controller="userLogController">
										<p style="font-size:17px" ng-show="data.userGroup == 'odds' || data.userGroup == 'admin'"><b>Odds:</b> ${{ m.homeOdds | number : 2 }}</p>
										<p style="font-size:17px" ng-show="data.userGroup == 'probability' || data.userGroup == 'admin'"><b>Probability:</b> {{ (1 / m.homeOdds) * 100 | number : 2 }}%</p>
									</span>
									<div class="radio">
										<label style="font-size: 1.5em">
											<input type="radio" name="match{{m.gameNo}}" value="{{ m.homeTeamID }}">
											<span class="cr"><i class="cr-icon fa fa-circle"></i></span>
										</label>
									</div>
									<input type="hidden" name="game{{m.gameNo}}" value=" {{ m.gameNo }}">
								</td>
								<!--Match information-->
								<td align="center" class="col-md-6 col-xs-6"><br><br></br>
									<p style="font-size:17px">Date: {{ m.matchDate | date : 'MMM d, y h:mm:ss a' : '+1000'}}</p>
									<p style="font-size:17px">Location: {{ m.matchLocation }}</p>
								</td>
								<!--Right team info-->
								<td align="center" class="col-md-3 col-xs-3" id="{{ m.awayTeam }}"><br>
									<img ng-src="{{ m.awayTeamID }}.png" class="img-responsive" alt="{{ m.awayTeamID }}" width="100" height="150">
									<p style="font-size:17px"><b>{{ m.awayTeamID }}</b></p>
									<span ng-controller="userLogController">
										<p style="font-size:17px" ng-show="data.userGroup == 'odds' || data.userGroup == 'admin'"><b>Odds:</b> ${{ m.awayOdds | number : 2 }}</p>
										<p style="font-size:17px" ng-show="data.userGroup == 'probability' || data.userGroup == 'admin'"><b>Probability:</b> {{ (1 / m.awayOdds) * 100 | number : 2 }}%</p>
									</span>
									<div class="radio">
										<label style="font-size: 1.5em">
											<input type="radio" name="match{{m.gameNo}}" value="{{ m.awayTeamID }}">
											<span class="cr"><i class="cr-icon fa fa-circle"></i></span>
										</label>
									</div>
								</td>
							</tr>
							<!--Drop down box-->
							<tr align="center">
								<td colspan="3" style="font-size:20px">
									<button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-target="#{{m.gameNo}}">See More
									</button>
									<div id="{{m.gameNo}}" class="col-md-12 col-xs-12 collapse">
										<div class="col-md-4 col-xs-4" align="left" style="font-size:15px">
											<p>9th</p>
											<table class="table-bordered">
												<tr >
													<th><b>Round</b></th>
													<th><b>Team</b></th>
													<th><b>Result</b></th>
													<th><b>Margin</b></th>
												</tr>
												<tr>
													<td>R5</td>
													<td>Brisbane</td>
													<td>Win</td>
													<td>47pts</td>
												</tr>
												<tr>
													<td>R4</td>
													<td>St.Kilda</td>
													<td>Win</td>
													<td>9pts</td>
												</tr>
												<tr>
													<td>R3</td>
													<td>Collingwood</td>
													<td>Loss</td>
													<td>22pts</td>
												</tr>
												<tr>
													<td>R2</td>
													<td>Melbourne</td>
													<td>Loss</td>
													<td>12pts</td>
												</tr>
												<tr>
													<td>R1</td>
													<td>Adelaide</td>
													<td>Loss</td>
													<td>32pts</td>
												</tr>
											</table>
										</div>
										<div class="col-md-4 col-xs-4" align="center" style="font-size:15px">
											<p>Ladder position</p>
											<p>Last 5 results</p>
										</div>
										<div class="col-md-4 col-xs-4" align="right" style="font-size:15px">
											<p>3rd</p>
											<table class="table-bordered">
												<tr >
													<th><b>Round</b></th>
													<th><b>Team</b></th>
													<th><b>Result</b></th>
													<th><b>Margin</b></th>
												</tr>
												<tr>
													<td>R5</td>
													<td>GWS</td>
													<td>Loss</td>
													<td>2pts</td>
												</tr>
												<tr>
													<td>R4</td>
													<td>Essendon</td>
													<td>Win</td>
													<td>90pts</td>
												</tr>
												<tr>
													<td>R3</td>
													<td>North Melbourne</td>
													<td>Win</td>
													<td>65pts</td>
												</tr>
												<tr>
													<td>R2</td>
													<td>Gold Coast</td>
													<td>Win</td>
													<td>59pts</td>
												</tr>
												<tr>
													<td>R1</td>
													<td>Port Adelaide</td>
													<td>Win</td>
													<td>7pts</td>
												</tr>
											</table>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</div>
						<!--Submit button desktop-->
						<ul class="pager hidden-xs">
							<li ng-class="roundNo == 1 ? 'previous disabled' : 'previous'"><a href="#" ng-click="roundNo != 1 ? roundNo = roundNo - 1 : roundNo = roundNo" >Previous Round</a></li>
							<li align="center">
								<input type="submit" class="btn btn-primary btn-lg" style="padding-left:40px; padding-right:40px;margin-bottom:5px;
								box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   display:inline-block;
								margin:0;" value="Submit">
							</li>
							<li ng-class="roundNo == 23 ? 'next disabled' : 'next'"><a href="#" ng-click="roundNo != 23 ? roundNo = roundNo + 1 : roundNo = roundNo" ng-disabled"roundNo == 23">Next Round</a></li>
						</ul>
						<!--Submit button mobile-->
						<ul class="pager visible-xs">
							<li ng-class="roundNo == 1 ? 'previous disabled' : 'previous'"><a href="#" ng-click="roundNo != 1 ? roundNo = roundNo - 1 : roundNo = roundNo" >
								<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
							</a></li>
							<li align="center">
								<input type="submit" class="btn btn-primary btn-md" style="padding-left:40px; padding-right:40px;margin-bottom:5px;
								box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   display:inline-block;
								margin:0;" value="Submit">
							</li>
							<li ng-class="roundNo == 23 ? 'next disabled' : 'next'"><a href="#" ng-click="roundNo != 23 ? roundNo = roundNo + 1 : roundNo = roundNo" ng-disabled"roundNo == 23">
								<span class="glyphicon glyphicon-arrow-right" aria-hidden="true">
							</a></li>
						</ul>
					</br>
				</form>


			</div>
		</div>
	</div>
</div>
<!--Footer-->
<div>
	<footer id="footer" class="footer" style="background-color:#24292E;">
		<div align="center" style="padding-top: 20px;">
			<a>About us</a> |
			<a href="rules.html">Rules</a> |
			<a>Privacy Policy</a> |
			<a href="http://www.latrobe.edu.au/">La Trobe Website</a> |
			<a href="contactUs.html">Contact Us</a> |
			<a href="TC.html">Terms and Conditions</a>
		</div>
	</footer>
</div>
</div>
</body>
</html>
