<!DOCTYPE html>
<html ng-app="userApp" lang="en">
	<head>
	  <title>La Trobe Footy Tipping</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="Eagle.png" type="image/png">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	  <script src="js/userScript.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<!--Navbar-->
		<nav class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse" id="navbar1">
					<ul align="center" class="nav navbar-nav">
						<li align="left"><a href="tipping.html" style="padding:0px;"><img src="LTU-Footy.png" width="300px" style="margin-left:-1em;margin-right:15px"></img></a></li>
						<li style="width:220px;"><a href="tipping.html">Tipping<span class="sr-only">(current)</span></a></li>
						<li class="active" style="width:220px;"><a href="users.html">View Users</a></li>
						<li style="width:220px;"><a href="ladder.html">Ladder</a></li>
						<li style="width:220px;"><a href="ranking.html">Ranking</a></li>
						<li style="margin-left:0.7em;"><a>"Test User"</a><li>
						<li style=""><a>Sign out</a></li>
					</ul>
				</div>
		</nav>
		<!--END Navbar-->
</div>
		<div class="container" style="background-color:#f2f2f2">
			<div align = "center" class="row">
				<div align="center" class="col-md-12 col-xs-12">
					<br>
					<table ng-controller="userController" class="table table-bordered" style="background-color:white;">
						<thead>
							<tr align="center">
								<td><b>User</b></td>
								<td><b>Email</b></td>
								<td><b>FavouriteTeam</b></td>
								<td><b>Win</b></td>
								<td><b>Loss</b></td>
								<td><b>Draw</b></td>
								<td><b>Group</b></td>
								<td><b>emailOptOut</b></td>
							</tr>
						</thead>
						<tbody>
							<tr align="center" ng-repeat="u in users">
								<td> {{ u._id }} </td>
								<td> {{ u.email }}</td>
								<td> {{ u.favouriteTeam }}</td>
								<td> {{ u.currentWins }}</td>
								<td> {{ u.currentLosses }}</td>
								<td> {{ u.currentDraws }}</td>
                <td> {{ u.userGroup }}</td>
								<td> {{ u.emailOptOut }}</td>
							</tr>
						</tbody>
					</table>
          <table ng-controller="userTipController"  class="table table-bordered" style="background-color:white">
						<thead>
							<tr align="center">
								<td><b>User</b></td>
                <td><b>Round</b></td>
								<td><b>Game</b></td>
								<td><b>Team</b></td>
							</tr>
						</thead>
						<tbody>
							<tr align="center" ng-repeat="ut in userTips">
								<td> {{ ut.userID }} </td>
                <td> {{ ut.roundNo }} </td>
								<td> {{ ut.gameNo }}</td>
								<td> {{ ut.teamID }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!--Footer-->
		<div>
		 	<footer id="footer" class="footer" style="background-color:#24292E;">
				<div align="center" style="padding-top: 20px;">
					<a>About us</a> |
					<a>Privacy Policy</a> |
					<a>La Trobe Website</a> |
					<a>Contact Us</a>
				</div>
			</footer>
		 </div>
	</body>
</html>
